@model IEnumerable<ProjectManager.Models.Project>

<div class="projectlist">
    <table>
        <thead>
            <tr>
                <th> @Html.DisplayNameFor(model => model.Title) </th>
                <th> @Html.DisplayNameFor(model => model.Detail) </th>
                <th> @Html.DisplayNameFor(model => model.Completed) </th>
                <th>Actions</th>
                <th>Ajax Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td> @item.Title </td>
                    <td> @Html.DisplayFor(modelItem => item.Detail) </td>
                    <td> @Html.DisplayFor(modelItem => item.Completed) </td>
                    <td> @Html.ActionLink("Edit", "Edit", new { id = item.ProjectID })  | 
                         @Html.ActionLink("Delete", "Delete",  new { id = item.ProjectID })
                    </td>
                    <td>
                        <span><input type="button" id="ajaxEdit" value="Edit"/></span>
                        <span><input type="button" id="ajaxDelete" value="Delete"/></span>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot></tfoot>
    </table>
</div>